nav.navbar.navbar-default.navbar-fixed-top(role="navigation")#top-navbar

  h3.text-center Welcome to Survivable Social Network on a Chip
  br
  div.navbar-collapse.collapse
    ul.nav.nav-justified#nav_list
      li
        a(href="/welcome")
          strong welcome
      li
        a(href="/people")
          strong People
      li
        a(href="/wall")
          strong Wall
      li
        a(href="/monitor")
          strong monitor
      li
        a(href="/analyze")
          strong analyze    
      li
        a(href="/search")
          strong search    
      li
        a(href="/logout")
          strong Logout
