doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/status.js')
  title SSNoC - Administer
  body
   div.container
    include includes/navbar.jade
    br
    br
    br
    br
    br
    br
    br

    form(action='/administerUserProfile', method='post')
      &nbsp
      |Enter Name: 
      input(type='text', name='administerUserName')
      &nbsp
      button(type="submit" class="btn btn-primary btn-sm" id="administerUserNameButton") Get User Details
      br
      br

    table(style='width: 100%;', border="1")
      tr
        th &nbsp;&nbsp; User Name  
        td 
          form(action='/changeUserName', method='post')
            button(type="submit" class="btn btn-primary btn-sm" id="changeUserNameButton" style="width:200px") Change Username 
            | &nbsp;
            input(type='text', name='changeUserName')
        td #{userName}
      tr
        th &nbsp;&nbsp; Privilege Level  
        td
          form(action='/changePrivilegeLevel', method='post')
            button(type="submit" class="btn btn-primary btn-sm" id="changePrivilegeLevelButton" style="width:200px") Change Privilege Level 
            | &nbsp;
            select(name='changePrivilegeLevel')
              option(value='0') Citizen
              option(value='1') Co-ordinator
              option(value='2') Monitor
              option(value='3') Administrator
        td #{priviligeLevel}
      tr
        th &nbsp;&nbsp; Account Status
        td
          form(action='/changeAccountStatus', method='post')
            button(type="submit" class="btn btn-primary btn-sm" id="changeAccountStatusButton" style="width:200px") Change Account Status 
            | &nbsp;
            select(name='changeAccountStatus')
              option(value='0') Inactive
              option(value='1') Active
        td #{accountStatus}
      tr
        th &nbsp;&nbsp; Password  
        td
          form(action='/changePassword', method='post')
            button(type="submit" class="btn btn-primary btn-sm" id="changePasswordButton" style="width:200px") Change Password
            | &nbsp;
            input(type='text', name='changePassword')
        td #{password}
