doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/message.js')
  title SSNoC - Message
  body
    include includes/navbar.jade
    br
    if message.length > 0
        div.alert.alert-danger#passport_alert #{message}
      form(action='/message', method='post')
        p Write a private message to: #{username}
        br
        br
        input(type='textarea', name = 'message', cols='25', row='5')
        br
        br
        button(type="submit" class="btn btn-info btn-lg" id="sendMessageBtn") Send Message

                    
