doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/moitor.js')
  title SSNoC - People
  body
    include includes/navbar.jade
    div.container
      br
      br
      div.well CHAT

      form
        input(type='text', name='chat')

      button(onclick='pmroute()') CHAT

      div#participants_online
      br