doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/moitor.js')
  title SSNoC - People
  body
    include includes/navbar.jade
    
  body 
    br
    div.container
      p Measure Performance
    form(action='/startMeasurePerformance', method='post')
      |Enter Time: 
      input(type='text', name='measurePerformanceTime')
      button(type="submit" class="btn btn-info btn-lg" id="startMeasurePerformanceButton") Start

  body 
    form(action='/stopMeasurePerformance', method='get')
      button(type="submit" class="btn btn-info btn-lg" id="stopMeasurePerformanceButton") Stop

  body 
    form(action='/postMeasurePerformance', method='post')
      button(type="submit" class="btn btn-info btn-lg" id="postMeasurePerformanceButton") Post

  body 
    form(action='/getMeasurePerformance', method='get')
      button(type="submit" class="btn btn-info btn-lg" id="getMeasurePerformanceButton") Get

  p #{posts}
  p #{gets}
      