doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/search.js')
  title SSNoC - Search
  body
    include includes/navbar.jade
    br
    br
    br
    br
    br
    br
   
  body
    form(action='/searchForUsername', method='post')
      div.container
        p Input the username:
        input(type='text', name='searchForUsername')
        br
        br
        button(type="submit" class="btn btn-primary btn-sm" id="searchForUsername") Search Username
        br
        br        
  body
    div.container
      p Search Username:
        div.container
          div.well
            p= searchedUsernames

        br
        br
        br
    