doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/search.js')
  title SSNoC - Search
  body
    include includes/navbar.jade
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    p Pick search type
      select#search_type
        option(value='0') search users by username
        option(value='1') search users by status
        option(value='2') search announcements
        option(value='3') search public messages
        option(value='4') search private messages
    p Enter your keywords here:
      input#keywords(type='text')
    br
    button#search(type="submit" class="btn btn-primary btn-sm") Search        

    
    h3 Search Results:
    
    b Online Users:
    div.container
      div.well
        div#online_results
    b Offline Users:
    div.container
      div.well
        div#offline_results


    
