doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/search.js')
  title SSNoC - Search
  body
    include includes/navbar.jade
    br
    br
    br
    br