doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/css/opensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/search.js')
  title SSNoC - Search
  body
   div.container
    include includes/navbar.jade
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    p#keywords_input Search: 
      input#keywords(type='text')
      span &nbsp;
      select#search_type
        option(value='0' selected='selected') Username
        option(value='1') Status
        option(value='2') Announcements
        option(value='3') Public Messages
        option(value='4') Private Messages
    p#status_input.display_none Select status
      select#status_to_search
        option(value='0') N/A
        option(value='1') Okay
        option(value='2') Help
        option(value='3') Emergency
    br
    button#search(type="submit" class="btn btn-primary btn-sm") Search        

    
    h3 Search Results:
    
    b Online Users:
    div.container
      div.well
        div#online_results
    b Offline Users:
    div.container
      div.well
        div#offline_results


    
