doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/publicmessage.js')
    script(src='/js/message.js')
  title SSNoC - Welcome
  
  body
    include includes/navbar.jade
    br
    br
    br
    br
    if error_messages.length > 0
      each error_message in error_messages
        div.alert.alert-danger#passport_alert= error_message
    br
  body
    form(action='/publicmessage', method='post')
      div.container
        p Post Public Message: 
        
        input(type='text', name='publicMessage')
        br
        br
        button(type="submit" class="btn btn-primary btn-sm" id="postMessageButton") Post to wall
        br
        br        
  body
    div.container
      p Public messages:
        div.container
          div.well
            each message in publicmessages
              p= message

        br
        br
        br
