doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/status.js')
  title SSNoC - Welcome
  
  body
    include includes/navbar.jade
    br
    br
    br
    br
    br
    br
    br
    if typeof(message) !== 'undefined'
      if message.length > 0
        div.alert.alert-danger#passport_alert #{message}
    br
    br
    br
    br

  body(onload='$(\'#my-modal\').modal(\'show\');')
    #my-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                    h4.modal-title Welcome to SSNoC!
                    p Here, you can connect to others in the network, share your status and reach out to those in need.
                    p Status Messages:
                    p 
                        span(style='color: green;') OK 
                        | &mdash; I am OK, I do not need help
                    p
                        span(style='color: darkkhaki') Help 
                        | &mdash; I need help, but this is not a life threatening emergency
                    p 
                        span(style='color: red;') Emergency 
                        | &mdash; I need help now, as this is a life threatening emergency
                    p 
                        span(style='color: grey;') N/A 
                        | &mdash; I don't have a status yet 
                    p To share your status, click on 'Submit' and select your status



    
